body::-webkit-scrollbar {
    width: 10px;
    background-color: #071b26;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--min-blue);
    box-shadow: 0px 0px 40px 40px var(--min-blue);
}

.special-heading h2,
.navbar-brand span,
.features .feat h4:hover,
.features .feat span,
.features .feat i,
.pricing .price-box span,
.pricing .price-box i,
.statistics .plus,
.about span,
footer .column-one span,
footer .column-three i {
    color: var(--min-blue);
}

.custom-active,
.dropdown-menu li a:hover,
hr.dropdown-divider,
.features .feat:hover:after,
.item h4,
.testi .carousel-dark .carousel-indicators [data-bs-target],
.pricing .price-box a,
.subscribe button,
.skils-info a,
.contact-us .fields form a,
.box-btn {
    background-color: var(--min-blue);
}

.dropdown-menu,
.option-box .color-option {
    border-color: var(--min-blue);
}

button.btn.btn-danger.box-btn:nth-of-type(1) {
    background-color: var(--min-blue);
}

button.btn.btn-danger.box-btn:nth-of-type(2) {
    background-color: #177ce4a3;
}
/* Start Hover */
.pricing .price-box a:hover {
    background-color: #0056ac;
}

.btn:hover {
    background-color: #0056ac;
}

.footer-logo:hover {
    color: var(--min-blue);
}

footer .column-tow a:hover {
    color: var(--min-blue);
}

footer .column-three a:hover {
    color: var(--min-blue);
}

button.btn.btn-danger.box-btn:hover {
    background-color: #0056ac;
}
/* End Hover */

/* Start Before */
.special-heading h2:before {
    background-color: #0080ff6e;
}

footer .column-tow li::before {
    color: var(--min-blue);
}

.about .icons li::before {
    color: var(--min-blue);
}
/* End Before */